.selectedPlayer{
    position: sticky;
    top:0;
    background-color: tomato;
    margin-top: 20px;
    overflow: hidden;
}
.select-info{
    display:flex;
    width:100%;
    padding:0px 20px 0px 20px;
}
.title{
    padding:0px 20px 0px 20px;
}
.name-box{
    padding:10px;
}
.salary-box{
    padding:10px;
}